{% extends 'base.html' %}

{% load static %}

{% block title %}THEDARESAY - Login{% endblock title %}
 {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/pages/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/header.css' %}">
  {% endblock stylesheets %}
{% block main %}
    {% include 'partials/header.html' %}
      <form method="post" class="auth_card">
          <h2>LOGIN</h2>

          <div class="input_group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="_nsandhu">
          </div>

          <div class="input_group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="*******">
          </div>
          <a href="{% url 'forgot-password-page' %}" class="forgot_password">Forgot Password?</a>
          <div class="continue_btn">
            <button class="btn btn_contained">
                  Continue
            </button>
          </div>
          <p>Don't have an account yet? <a href="{% url 'signup-page' %}">Signup here</a></p>
      </form>
    </div>
    
{% endblock main %}